.banner{
   background-image: url("../../assets/img/bank-tree.jpg");
   
   background-size: cover;
   background-repeat: no-repeat;
   height: 50vh;
   width: 100%;
   position: relative;
   background-position: 0 -50px;
   
   @media (min-width: 920px) {
      border-radius: 25px;
      background-position: 0 ;
   }

   &__content{
      position: relative;
      top: 2rem;
      width: 200px;
      background: white;
      padding: 2rem;
      text-align: left;
      margin: 0 auto;
      border-radius: 25px;
      @media (min-width: 920px) {
         position: absolute;
         right: 50px;
         width: 300px;
         margin: 2rem;
      }
      @media (max-width: 920px) {
         display: none;
      }
   }
   &__subtitle{
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
      @media (min-width: 920px) {
         font-size: 1.5rem;
      }
   }
   &__text{
      margin-bottom: 0;
      font-size: 0.9rem;
      @media (min-width: 920px) {
         font-size: 1.2rem;
      }
   }
}

.feature {
   display: flex;
   flex-direction: column;
   align-items: center;

   

   @media (min-width: 920px) {
      flex-direction: row;
      margin-top: 1rem;
   }

   &__item{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.5rem;

      &-title{
         color: #222;
         font-size: 1.25rem;
         font-weight: bold;
         margin: 0.5rem 0 1rem 0;
         text-align: center;
      }
      &-text{
         color: #222;
         font-size: 1rem;
         text-align: center;
      }
   }
   &__icon{
      width: 100px;
      border: 10px solid #00bc77;
      border-radius: 50%;
      padding: 1rem;
   }
}